body{
    padding: 0px 70px;
    background-color: #f6f5f5;

}
.navleft>img{
    height: 120px;
    width: 120px;
    cursor: pointer;
    border: solid transparent;
    border-radius: 50px ;
    padding-left: 10px;
    
    
  }
  nav{
    height: 120px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    

    
      
      
    
  }
  .navright{
    float: right;
    height: 120px;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 55px;
    
  }
  .navleft{
    float: left;
    height: 120px;
    width: 40%;
  }
  .navright li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
    font-size: 25px;
  }
  .navright a{
    text-decoration: none;
    color: #2e9cca;
    border: solid transparent;
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
.icon img{
    width: 50px;
    height: 50px;
    margin: 15px;
    margin-bottom: 30px;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 70px 250px;
    
}
.icon{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.icons{
    background-color: #2e9cca;
    color: white;
}
.icons h3{
    text-align: center;
}
.images{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.images img{
    width: 150px;
    height: 150px;
    margin:10px;
    border-radius:50% ;

}
.galary h2{
    align-items: center;
    text-align: center;
    margin-left: 100px;
    margin-top: 20px;
    font-size: xx-large;
}
.x{
    display: flex;
    flex-direction: column;
}

.section3{
    height: 155px;
    background-color: #555555;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 0px;
  
    
  
  }
  #footer{
    padding: 10px;
    display: flex;
    flex-direction: row;
    height: 150px;
    border-bottom:solid #000000;
    border-width: 0.5px;
    padding: 10px;
    margin-bottom: 45px;
    margin-right: 0px;
  }
  .four{
    
    float: left;
    height: 100px;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
  }
  .four>a{
    text-decoration: none;
    margin-left: 40px;
    color: #ffffff;
    padding-top: 50px;
    font-size: 30px;
    font-weight: 600;
  }
  .four>img{
    padding-top: 10px;
    height: 120px;
    width: 120px;
    border: solid transparent;
    border-radius: 60px;
  }
  .five{
    float: right;
    width: 60%;
    height: 100px;
    
  }
  .five>p{
    margin-left: 450px;
    padding-top: 30px;
    color: #ffffff;
  }
  .last{
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
    background-color: #555555;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 60px;
    color: #ffffff;
    
  
  }
  .last>.last1>p{
    margin-right: 20px;
    margin-left: 20px;
  }
  