body {
    margin: 0px;
    padding: 0px;
    background-color: #F6F5F5;
    font-family: 'Roboto';
}


/* Main Container */

.locationMainContainer {
    display: flex;
    margin: 15px;
    padding: 10px;
    box-shadow: 10px 10px 5px #717171;
    border-radius: 10px;
}


/* both the left and right side */

.locationMainContainer>.locationImage,
.locationContent {
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    /* width: 50%; */
}

.locationMainContainer>.locationContent>.content_side {
    display: flex;
    justify-content: space-between;
}

.locationMainContainer>.locationContent>.content_side>.right_content_side,
.left_content_side {
    width: 50%;
}


/* LOcation Images */

.locationMainContainer>.locationImage>img {
    width: 60vh;
}


/* for responsiveness */

@media screen and (max-width: 1250px) {
    .locationMainContainer {
        flex-direction: column;
    }
    .locationMainContainer>.locationImage>img {
        width: 100%;
    }
    .locationMainContainer>.locationContent>.content_side {
        flex-direction: column;
    }
}